@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../assets/imageFundo.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0rem 10rem 0rem 10rem;
   

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.container-esquerdo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    padding: 8px 12px 8px 0px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    list-style: none;
    position: relative;
    float: left;
    padding: 8px 12px 8px 8px;
    font-size: 16px;
    font-weight: 400;
}

.menu a {
    text-decoration: none;
    color: #053361;
}

.submenu {
    position: absolute;
    top: 35px;
    width: 175px;
    left: -110px;
    padding-top: 16px;
    background-color: #fff;
    display: none;
    box-shadow: 0 8px 12px 0 rgba(42, 52, 61, 0.16);
    border-radius: 8px;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.submenu li {
    height: 40px;
    line-height: 24px;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

.submenu a {
    color: #2a343d;
    padding-top: 9px;
    display: inline-block;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover .submenu li:hover {
    background-color: #f3f3f3;
}

.menu-icone-seta {
    width: 5px;
}

.container-direito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 10px 0 10px;
}

.localizacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.localizacao p {
    font-size: 12px;
    color: #6d747a;
}

.localizacao a {
    color: #053361;
    text-decoration: none;
}

.icone-localizacao,
.icone-coracao,
.icone-usuario {
    font-size: 19px;
    padding: 10px;
    /* cursor: pointer; */
}

.icone-localizacao,
.icone-usuario {
    color: #053361;
}

.icone-seta {
    width: 8px;
}

.icone-coracao {
    color: #e01f1f;
}

.icone-coracao:hover,
.icone-usuario:hover {
    background-color: rgba(161, 167, 172, 0.2);
    border-radius: 50%;
}

.pesquisa {
    border: none;
    background-color: #fff;
    margin: 10px 0px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: 3s;
    margin-bottom: 5rem;
}

.pesquisa:hover {
    border: 3px solid #0533617d;
}

#textobusca {
    border: #6d747a;
    margin-left: 20px;
    
    width: 100%;
    height: 100%;
    font-size: 16px;
   
}
#textobusca:focus{
    outline: none;
}

#textobusca::placeholder{
    color: #053361;
}

.fa-magnifying-glass{
    padding-right: 15px;
}


.card-esquerda {
    width: 450px;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.card-esquerda h1 {
    font-size: 70px;
    font-weight: bold;
    color: #053361;
    line-height: 70px;
}

.card-esquerda h4 {
    font-weight: normal;
    color: rgb(53, 53, 53);
    font-size: 20px;
}

.card-esquerda button {
    background-color: #ffd900;
    color: #053361;
    width: 16rem;
    font-size: 17px;
    font-weight: 500;
    padding: 1rem 0rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
}
.chamada span{
    font-size: 25px;
    position: relative;
    top: -25px;
}

.fa-circle-info{
    font-size: 15px;
}
.feedback{
    
    position: fixed;
    right: 0px;
    bottom: 130px;
    top: auto;
}
.fa-message{
    background-color: #1773cf;
    font-size: 23px;
    color:white;
    padding: 15px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 30px;

    
}

@media (max-width: 1150px){
    .fundo{
        display: flex;
        justify-content: center;
        
    }
    .card-esquerda{
       
        align-items: center;
    }
    .card-esquerda h1{
        text-align: center;
    }
    body{
        padding: 0rem 3rem 0rem 3rem;
    }
}