@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.fundo{
    background-image: url("../assets/imageFundo.jpg");
    background-size: cover;
    height: 100vh;

}
.card-esquerda{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-esquerda h1{
    font-size: 70px;
    font-weight: bold;
    color: #123061;
}
.card-esquerda h4{
    font-weight: normal;
    color: rgb(97, 97, 97);
    font-size: 20px;
}
.card-esquerda button {
    background-color: #fbff00;
    color:#123061 ;
    width: 16rem;
    font-size: 20px;
    font-weight: 500;
    padding: 1rem 0rem;
    border-radius: 5px;
    border: none;
}